#root {
  max-width: 1920px;
  height: 100vh;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 37, 41);
  font-family: Inter, sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's above other content */
}


